/* |===============================|
   |         Login page            |
   |===============================| */

/* .LowerImg img{
    position: absolute;
    bottom: 0;
} */

/* |===============================|
   |         Login page            |
   |===============================| */


.LoginForm{
    margin: 20px;
}
.LoginForm input{
    margin: 8px;
    width: 25%;
    border-radius: 15px;
    padding: 3px;
}
.LoginForm input::placeholder{
    margin-left: 50px;
 font-weight: 500;
}
.LoginButton{
    border: inherit;
    border-radius: 10px;
    background-color:#0b579a ;
    color:#ffff ;
    padding: 8px;
    width: 25%;
    margin: 15px;
}
.LoginButton:hover {
    background-color: #93bc42;
    color: #ffff;
}
@media only screen and (max-width: 600px) {
    .LoginForm input{
        width : 70%;
    }
    .LoginButton{
        width: 70%;
    }
  }
.TextRegister{
    margin: 5px;
    font-size: 18px;
}
.TextRegister a{
    color: #0b579a;
    text-decoration: none;
}

/* |===============================|
   |         Register page         |
   |===============================| */

.RegisterForm{
    margin: 20px;
}
.RegisterForm input{
    margin: 8px;
    width: 25%;
    border-radius: 15px;
    padding: 3px;
}
.RegisterForm input::placeholder{
margin-left: 50px;
 font-weight: 500;
}
.RegisterButton{
    border: inherit;
    border-radius: 10px;
    background-color:#0b579a ;
    color:#ffff ;
    padding: 8px;
    width: 25%;
    margin: 15px;
}
.RegisterButton:hover {
    background-color: #93bc42;
    color: #ffff;
}
@media only screen and (max-width: 600px) {
    .RegisterForm input{
        width : 70%;
    }
    .RegisterButton{
        width: 70%;
    }
  }
.TextRegister{
    margin: 5px;
    font-size: 18px;
}
.TextRegister a{
    color: #0b579a;
    text-decoration: none;
}

/* |===============================|
   |            Menu               |
   |===============================| */
.TopMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0b579a;
    color: #ffff;
    width: 100%;
}
.LeftMenu{
    padding-top: 5px;
    padding-left:10px;  
}
.LeftMenu h6{
    font-size: 14px;
}
.AccountMenu{
    display: flex;   
    justify-content: end;
    padding-right:15px ;
    padding-top: 5px;
}
.icon{
    padding-right: 5px;
}
.acc{
    padding-bottom: 8px;
}
.acc a{
    color: inherit;
    text-decoration: none;
}
/* |===============================|
   |         Slider                |
   |===============================| */
.slide{
    padding:0 20px 0 20px;
}
/* |===============================|
   |         Navbar                |
   |===============================| */
.NavBar{
background-color: #93bc42;
color: #ffff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 30px 20px 30px;
height: 80px;
width: 100%;

}

.LeftBar i{
font-size: 22px;
}
.CenterBar a{
    font-size: 24px;
color:inherit;
text-decoration: none;
font-weight: 600;
}

.RightBar i{
    font-size: 22px;
}
.NeetContent{
    padding: 10px;
}

.line{
    margin:10px 35px 10px 35px;
    color: black;
}

.text_content{
    margin: 5px;
    padding:8px;
    color: black;
    background-color: #A2FFDF;
}
